.galeria{
    .displayflex-between;
    height: 1100px;
    .boton img, a{
        height: 90px;
        width: 50px;
    }
    .galerialist{
        display: grid;
        grid-template: repeat(3,300px) e("/") repeat(3,300px);
    }}