.galeria{
    .displayflex-between;
    height: 1080px;
    .boton img, a{
        height: 90px;
        width: 50px;
    }
    .galerialist{
        display: grid;
        gap: 5px;
        grid-template: repeat(7,150px) e("/") repeat(3,300px);
        .postgaleria img{
            height: 100%;
            width: 100%;
        }

    }}